*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

p,h3{
	font-family:arial,sans-serif;
}

main{
	width:960px;
	margin:50px auto;
}
.box1{
	width:300px;
	border:1px solid gray;
	position:relative;
	float:left;
}
.step-box{
	width:50px;
	height:30px;
	background-color:orange;
	position:absolute;
	top:0;
	left:0;
}
.step-text{
	color:#fff;
	text-align: center;
	line-height: 30px;
}
.box2{
	width:280px;
	margin:0px auto;
}
.title-text{
	margin-bottom:10px;
}
.main-text{
	margin-bottom:10px;
}
.image-style1{
	width:280px;
	height:150px;
	background-image:url(img/flow01.png);
	background-size:cover;
	background-position:bottom;
	margin:10px auto;
}
.image-style2{
	width:280px;
	height:150px;
	background-image:url(img/flow02.png);
	background-size:cover;
	background-position:bottom;
	margin:10px auto;
}
.image-style3{
	width:280px;
	height:150px;
	background-image:url(img/flow03.png);
	background-size:cover;
	background-position:bottom;
	margin:10px auto;
}

.box1:nth-child(2){
	margin:0 30px;
}